@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background: #040507;
  --main-color: #fff;
  --select-background: #086cee;
}

::selection {
  background: var(--select-background);
  color: var(--main-color);
}

body {
  background: var(--main-background);
  color: var(--main-color);
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

@layer base {
  .waving-trans {
    transition: all 0.3s linear;
  }
}