@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background: #121922;
  --main-color: #fff;
  --select-background: #08adee;
}

::selection {
  background: var(--select-background);
  color: var(--main-color);
}

body {
  background: var(--main-background);
  color: var(--main-color);
}